#carosel-featured{
    width: 100%;
    position: relative;
    .slide{
        width: 100%;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: end;
        .time-title{
            font-size: 16px;
            color: white;
            padding: 15px;
            font-weight: lighter;
            padding: 0 20px;
            margin-bottom: 5px;
        }
        .slide-title{
            font-size: 20px;
            white-space: inherit;
            color: white;
            padding: 15px;
            font-weight: bold;
            padding: 0 20px;
            margin-bottom: 35px;
        }
    }
    .arrow{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 33px;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(240, 240, 240);
        color: rgb(255, 255, 255);
        font-size: 12px;
        z-index: 100;
        cursor: pointer;
        &.next{
            right: 20px;
        }

        &.pre{
            left: 20px;
        }
    }
}