.news{
    margin-top: 35px;
    padding-bottom: 40px;
    background-color: white;
    .main-img{
        width: 100%;
    }

    .box-new{
        padding: 0 20px;
        .main-title{
            margin-top: 10px;
        }
    }

    .sub-img{
        display: inline;
        width: 300px;
        &.left{
            margin: 10px 10px 0 0;
            float: left;
        }
        &.right{
            float: right;
            margin: 10px 0 0 10px;
        }
    }
    .block-new{
        display: block;
        float: left;
        .sub-title{
            margin-top: 20px;
        }
    
        .title{
            display: inline;
        }
    
        h2,h3{
            width: 100%;
            float: right;
        }    
    }
}

